.about {
  background-color: #fff;
  padding: 15rem 0;
}
.about-content {
  display: flex;
  flex-direction: column;
}
.about-content p {
  color: #147efb;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.about-content h3 {
  color: #2d2e32;
  font-size: 2.5rem;
  margin-bottom: 6rem;
}