$card-side-padding: 10rem;
$card-side-padding_s: 5rem;
$card-side-padding_xs: 1rem;

.experience {
	background-color: #fff;
	padding: 15rem 0;

	.experience-content {
		display: flex;
		flex-direction: column;

		h3 {
			color: #147efb;
			font-size: 1.7rem;
			font-weight: 700;
			margin-bottom: 1rem;
			text-transform: uppercase;
		}
		h4 {
			color: #2d2e32;
			font-size: 2.5rem;
			margin-bottom: 6rem;
		}
		p {
			color: #767676;
			font-family: Mulish, sans-serif;
			font-size: 1.7rem;
			font-weight: 500;
			line-height: 1.5;
		}
		.experience-card {
			background-color: #f9f9f9;
			border-radius: 15px;
			display: flex;
			flex-direction: column;
			padding: 4rem 0;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			margin-bottom: 2rem;

			a {
				text-decoration: none;
			}
			.titleWrapper {
				display: flex;
				cursor: pointer;

				img {
					height: 2rem;
					margin: 3px;
				}
			}
			.company {
				color: #2d2e32;
				font-size: 1.7rem;
				margin: 0 1rem 0 $card-side-padding;
				text-transform: uppercase;
			}
			.position {
				margin: 0 $card-side-padding 0;
				list-style-type: none;

				li {
					margin-top: 2rem;

					.title {
						color: #2d2e32;
						font-size: 2rem;
						font-weight: bold;
						// text-transform: uppercase;
					}
					.time-period {
						font-size: 1.8rem;
					}
					.location {
						font-size: 1.7rem;
						font-style: italic;
					}
					p {
						margin-top: 0.5rem;
					}
				}
			}
		}
	}
}

@media (max-width: 650px) {
	.experience-card {
		.company {
			margin: 0 1rem 0 $card-side-padding_s;
		}
		.position {
			margin: 0 $card-side-padding-s 0;
		}
	}
}
@media (max-width: 400px) {
	.experience-card {
		.company {
			margin: 0 1rem 0 $card-side-padding_xs;
		}
		.position {
			margin: 0 $card-side-padding-xs 0;
		}
	}
}
.titleWrapper {
	display: flex;
}
.titleWrapper img {
	height: 2rem;
	margin: 3px;
}