.header {
	align-items: center;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
	display: flex;
	font-size: 1.7rem;
	height: auto;
	justify-content: space-between;
	left: 0;
	padding: 25px 40px 25px 50px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 200;
}
.title {
	margin: 0;
	font-weight: bold;
}
.main.title {
  cursor: pointer;
}
.header ul {
	display: flex;
	gap: 2rem;
	list-style: none;
}
.header ul a {
	color: #2d2e32;
	font-weight: 600;
	text-decoration: none;
	transition: all 0.23s;
}
@media (max-width: 900px) {
	.header ul a {
		display: none;
	}
}
.logo {
	margin: 0 10px;
}
.mobile-menu {
	cursor: pointer;
	display: none;
	font-size: 2.3rem;
}
@media (max-width: 900px) {
	.mobile-menu {
		display: flex;
	}
}
.mobile-nav {
  align-items: center;
  background-color: #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  transition: all .3s ease-in-out;
  width: 100%;
  z-index: 300;
}
.close-menu {
  display: none!important;
}
.open-menu {
  display: flex;
}
.mobile-nav span {
  cursor: pointer;
  font-size: 3.3rem;
  position: absolute;
  right: 4rem;
  top: 2rem;
}
.mobile-nav ul {
  display: flex;
  flex-direction: column;
  font-size: 2.3rem;
  gap: 4rem;
  list-style: none;
}
.mobile-nav ul a {
  color: #000;
  font-weight: 500;
  text-decoration: none;
}