.project {
  background-color: #f9f9f9;
  padding: 15rem 0;
}
.project-content {
  display: flex;
  flex-direction: column;
}
.project-content h3 {
  color: #147efb;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.project-content h4 {
  color: #2d2e32;
  font-size: 2.5rem;
  margin-bottom: 6rem;
}
.project-content p {
  color: #767676;
  font-family: Mulish,sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5;
}