.project {
	background-color: #f9f9f9;
	padding: 15rem 0;
}
.project-content {
	display: flex;
	flex-direction: column;
}
.project-content h3 {
	color: #147efb;
	font-size: 1.7rem;
	font-weight: 700;
	margin-bottom: 1rem;
	text-transform: uppercase;
}
.project-content h4 {
	color: #2d2e32;
	font-size: 2.5rem;
	margin-bottom: 6rem;
}
.project-card {
	// background-color: #fdfdfd;
	border-radius: 15px;
	display: flex;
	flex-direction: row;
	padding: 4rem 0;
	// box-shadow: 0 0 15px rgb(155 155 155 / 16%);
	margin-bottom: 2rem;
}
.project-card .text-side {
	display: flex;
	flex-direction: column;
	width: 40%;
}
.project-card .text-side .links {
	display: flex;
	justify-content: center;
}
$links-color: #2d2e32 !important;
.project-card .text-side .links a {
	display: flex;
	justify-content: center;
  color: $links-color;
  text-decoration: none;
  padding: 1rem 2rem;
}
.project-card .text-side .links a p {
	font-weight: 700;
  color: $links-color;
	font-family: Mulish, sans-serif;
	font-size: 1.5rem;
	line-height: 1.5;
  margin-right: 5px;
}
.image-side {
	width: 60%;
}
.image-side img {
	max-height: 100%;
	max-width: 100%;
}
.project-content .project-name {
	text-align: center;
	text-transform: none !important;
	color: #2d2e32 !important;
  margin: 0 1rem 3rem 1rem;
}
.project-card.reverse {
  flex-direction: row-reverse;
}