.social-links .linkedin,.social-links .email, .social-links .github {
  font-size: 3rem;
  color: #2d2e32;
  transition: all 0.2s;
}
.social-links .email:hover {
	color: #3d424d;
}
.social-links	.linkedin:hover {
	color: #0A66C2;
}
.social-links	.github:hover {
	color: #690269;
}