.App {
	background-color: #fefefe;
	color: #07080a;
	width: 100vw;
	height: 100vh;
}

/* Header styling start */
.header {
	background-color: inherit;
	display: flex;
	width: calc(100% - 30px);
	height: 30px;
	padding: 15px;
}
.title {
	height: 100%;
	width: 100%;
	margin: 0;
	min-width: 180px;
	font-size: 25px;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
}
.logo {
	margin: 0 10px;
}
/* Header styling end */

.portfolio {
	margin: 25px;
}
.under-construction {
	display: flex;
}
.content {
	text-align: right;
}
.content h1 {
	font-size: 35px;
}
.content h2 {
	color: #3d424d;
	font-size: 1.6em;
}
.content p {
	float: right;
	width: 90%;
	font-size: 18px;
}
.content, .under-construction-img {
	width: 50%;
	min-width: 210px;
	margin: 20px;
}
.under-construction-img {
	max-width: 400px;
}
