.App {
	background-color: #fefefe;
	color: #07080a;
	width: 100%;
	height: 100%;
}

/* Header styling start */
.header {
	background-color: inherit;
	display: flex;
	width: calc(100% - 30px);
	height: 30px;
	padding: 15px;
}
.title {
	height: 100%;
	width: 100%;
	margin: 0;
	min-width: 180px;
	font-size: 25px;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
}
.logo {
	margin: 0 10px;
}
/* Header styling end */

.portfolio {
	margin: 25px;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: #3d424d;
}